<!DOCTYPE html>
<html lang="en">
<head>
    <title>Equiavenir</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/connexion.css" type="text/css">
    <link rel="stylesheet" href="/static/css/navbar.css" type="text/css">
    <link rel="stylesheet" href="/static/css/accueil.css" type="text/css">
    <link rel="stylesheet" href="/static/css/contact.css" type="text/css">
    <link rel="stylesheet" href="/static/css/footer.css" type="text/css">
</head>

<body>
    {{ template "navbar" .}}
    <main>
        {{ template "body" . }}
    </main>
    <footer>
        <div id="foot">
            Hello
        </div>
    </footer>
</body>
</html>