<!DOCTYPE html>
<html lang="en">
<head>
    <title>Equiavenir</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/connexion.css" type="text/css">
    <link rel="stylesheet" href="/static/css/navbar.css" type="text/css">
    <link rel="stylesheet" href="/static/css/accueil.css" type="text/css">
    <link rel="stylesheet" href="/static/css/contact.css" type="text/css">
    <link rel="stylesheet" href="/static/css/footer.css" type="text/css">
</head>
<body>
    <header>
        {{ template "navbar" .}}
    </header>
    {{ template "body" . }}
    <footer>
        <div id="contenu-footer">
            <div id="footer-informations">
                <h3>INFORMATIONS</h3>
                <ul id="liste-informations">
                    <li><a href="#">Mentions Légales</a></li>
                    <li><a href="#">politique de confidentialité</a></li>
                    <li><a href="#">Signaler un abus</a></li>
                </ul>
            </div>
    
            <div id="footer-services">
                <h3>NOS SERVICES</h3>
                <ul id="liste-services">
                    <li><a href="/Find"> Find offer </a></li>
                    <li><a href="/Share"> Share offer </a></li>
                    <li><a href="/contact"> Contact </a></li>
                </ul>
            </div>
    
            <div id="footer-reseaux">
                <h3>SUIVEZ-NOUS!</h3>
                <ul id="liste-reseaux">
                    <li><a href="#" class="fa fa-facebook"> facebook</a></li>
                    <li><a href="#" class="fa fa-twitter"> Twitter</a></li>
                    <li><a href="https://www.instagram.com/equiavenir/?hl=fr" class="fa fa-instagram"> Instagram</a></li>
                </ul>
            </div>    
        </div>
    </footer>
</body>
</html>