{{ define "navbar" }}
<div id="nav">
    <a href="/" class="navbar_links"> Menu </a>
    <a href="/Find" class="navbar_links">🔎 Find offer </a>
    <a href="/Share" class="navbar_links"> Share offer </a>
    <a href="/contact" class="navbar_links"> Contact </a>
    <button><a href="/connexion" class="navbar_links2"> <img src="https://img.icons8.com/small/24/000000/user-male-circle.png" color="white"/> Mon compte </a></button>

</div>
<!-- <script src="/static/js/navbar animation.js"></script> -->


{{ end }}