/* PAGE ACCUEIL */
p{
    position: flex;
    font-size: 150%;
    text-align: center;
    margin-top: 5%;
}

h1{
    position: flex;
    font-size: 300%;
    text-align: center;
    margin-top: 5%;
}

#UserInfo{
    position: flex;
    padding: 20px 15px;
    border-radius: 10px;
    width: 40%;
    align-items: center;
    font-size: 150%;
    margin-top: 5%;
    margin-left: 5%;
}

#inputMessage{
    position: flex;
    padding: 200px 15px;
    border-radius: 10px;
    font-size: 150%;
    width: 87%;
    margin-top: 5%;
    margin-left: 5%;
}
