#main-container{
    margin: 0;
    padding: 0;
}

.title {
    padding: 50px;
    color:#D1CDB9;
    font-size: bold;
    padding: 150px 0px 0px 100px;
    font-size: 100px;
}

.block_titre{
    position: flex;
    background-image:url(Image/cheval3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 357px;
    overflow: hidden;

}

  