/* PAGE CONNEXION */
.connexion
{
    display: flex;
    flex-direction: column;
    width: 50%;
    border-radius: 20px;
    border: 2px solid;
    border-color: gray;
    margin: auto;
    margin-bottom: 10%;
    top: 10%;
}

.title
{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: signpainter, Arial;
    font-weight: bold;
    color: #323366;
}

.form
{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}

.form input
{
    display: flex;
    border: none;
    background-color: lightgray;
    height: 30px;
    width: 90%;
}

.form p {
    font-size: 150%;
    font-weight: bold;
}

#conditions
{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.text
{
    color: gray;
    /* font-family: ; */
}

.btn-connexion
{
    width: 40%;
    margin-top: 7%;
    background-color: #323366;
    color: white;
    height: 50px;
    font-size: x-large;
    border-radius: 20px;
    margin: auto;
    margin-top: 5%;
    margin-left: 30%;
}

#to-home
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 3%;
}

.to-home
{
    color: white;
}