/* PAGE contact */

p{
    position: flex;
    font-size: 150%;
    text-align: center;
}

h1{
    position: flex;
    font-size: 400%;
    text-align: center;
    font-style: italic;
    font-family: Tahoma;
    padding-top: 50px;
    padding-bottom: 30px
}

#UserInfo{
    position: flex;
    padding: 20px 15px;
    border-radius: 10px;
    width: 34%;
    align-items: center;
    font-size: 150%;
    margin-top: 5%;
    margin-left: 10%;
}

#inputMessage{
    position: flex;
    padding: 20px 15px;
    border-radius: 10px;
    font-size: 150%;
    width: 81%;
    margin-top: 5%;
    margin-left: 10%;
    text-align:top;
    min-height: 100px;
    min-width: 79%;
    max-width: 600px;
    border: 2px solid black;
}

#send{
    position: flex;
    padding: 10px 10px;
    border-radius: 10px;
    width: 15%;
    color: white;
    background-color: #323366;
    margin-top: 5%;
    margin-bottom: 5%;;
    align-items: center;
    margin-left: 42%;
    font-size: 125%;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#send:hover{
    box-shadow: none;
    opacity: 0.8;
}

.equipe{
    text-align: center;
}

.equipe p {
    border-top: 2px solid black;
    width: 75%;
    margin: 0 auto;
}

.equipe .image{
    margin: 0 auto;
    padding: 20px 0px 50px 0px;
}