/* PAGE ACCUEIL */
.fond-Accueil{
background-image:url(Image/cheval.jpg);
background-repeat: no-repeat;
background-size: cover;
height: 100%;
}

.fond-Accueil h1{
    font-style: italic;
    font-family: gabriola;
    font-size; 
}

.fond-Accueil p{

}
