/* PAGE ACCUEIL */

.fond-Accueil{
background-image:url(Image/cheval.jpg);
background-repeat: no-repeat;
background-size: cover;
height: 150%;
overflow: hidden;
}

.fond-Accueil h1{
    font-family: Tahoma;
    font-size: 120px; 
    text-align: center;
    padding-top: 100px;
    color: white;
}

.fond-Accueil p{
    font-family: Tahoma;
    font-size: 60px; 
    text-align: center;
    color: white;
}

.btn_partage {
    border-radius: 20px;
    padding: 10px;
    width: 15%;
    color: white;
    text-decoration: none;
    font-size: 150%;
    text-align: center;
}

.btn_offre {
    border-radius: 20px;
    padding: 10px;
    width: 15%;
    color: white;
    text-decoration: none;
    font-size: 150%;
    text-align: center;
}

.buttons{
    text-align: center;
    padding-top: 50px;
}
