/* PAGE ACCUEIL */

main{
    
}

/* NAVBAR  */
header {  
    position: flex;
    top: 0;
    left: 0;
    width: auto;
    background-color: orange;
    /* border: 1px solid black; */
    opacity: 0.75;
    padding: 40px 100px;
    transition: 0,5;
}

header.sticky{
    position: fixed;
    width: 100%;
    background: yellow;
    transition: 0,5;
}

#nav {
    position: flex;
    font-size: 250%;
    justify-content: space-between;
}

.navbar_links{
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin-left: 10%;
}

/* PAGE CONNEXION */

#tableauLogIn{
    position: flex;
    background: linear-gradient( #DBC2AF 30%,orange  60%);
    height: 100%;

}

#UserLogin{
    position: flex;
    align-items: center;
    left: 75%;
}

#searchInput{
    margin-left: 30%;
    padding: 10px 10px;
    border-radius: 20px;
    width: 40%;
    margin-top: 5%;
    align-items: center;
    font-size: 150%;
}

#help{
    margin-left: 30%;
    margin-top: 1%;
    text-decoration: none;
}

#mdp{
    margin-left: 32%;
    margin-top: 1%;
    text-decoration: none;
    color: black;
}

#create{
    margin-top: 1%;
    text-decoration: none;
    color: black;
}


#logIn{
    margin-top: 3%;
    padding: 10px 10px;
    border-radius: 20px;
    background-color: rgba(189, 189, 189, 0.5);
    color: white;
    width: 41%;
    margin-left: 30%;
    margin-bottom: 12%;
    font-size: 150%;
}