#body
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#inscription
{
    border: 2px solid #969696;
    border-radius: 18px;
}

#inscription h1
{
    padding: 20 20 0 20;
}


.CV
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

h2
{
    border-bottom: 2px solid grey;
    width: 90%;
}

.dragNdrop
{
    border: 2px dashed #ADADAD;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    justify-content: center;
    margin-top: 10;
}


.dragNdrop p 
{
    font-size: smaller;
}


.infos
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: red;
}

.inputs
{
    
}












/* #inscription
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    border-radius: 30px;
    border: 2px solid;
    margin: auto;
    margin-bottom: 2%;
}

.title
{
    font-family: signpainter, Arial;
    font-weight: bold;
}

.form
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.form input
{
    height: 40px;
    margin-bottom: 13%;
    width: 80%;
}

#conditions
{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.text
{
    color: gray;
    /* font-family: ; */
/* } */

/* .btn-inscription
{
    width: 80%;
    margin-top: 7%;
    background-color: #dfdf00;
    height: 50px;
    font-size: x-large;
    border-radius: 45px;
    margin-left: 10%;
}

#to-connexion
{
    margin-top: 5%;
    margin-bottom: 3%;
}

.to-connexion
{
    color: black;
    /* font-family: ; */
/* } */