/* NAVBAR  */

* {  
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#D1CDB9;
    padding: 20px;
}

.navbar_links{
    list-style: none;
    color: black;
    font-weight: bold;
    font-style: italic;
    font-family: gabriola;
}

.navbar_links li{
    display: inline-block;
    padding: 0px 75px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 150%;
}

.navbar_links li a{
    transition: all 0.3 ease 0s;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 150%;
}

.navbar_links li a:hover{
    color: #323366;
}

.navbar_button{
    color: white;
    font-size: 150%;
    text-decoration: none;
}

.navbar_button img{
    vertical-align:middle;
    filter: brightness(0) invert(1);
}

button{
    padding: 10px 25px;    
    border-radius: 20px;
    background-color: #323366;
    border: none;
    margin-left: 160px;
}

.disconnect
{
    border: none;
    font-weight: bold;
    font-size: medium;
}

.navbar_links .logo{
    position: absolute;
    top: 80px;
    background-color: #D1CDB9;
    width : 100px;
    height : 100px;
    border-radius: 50%;
    cursor: pointer;  
}

  