#main-container{
  overflow: auto;
  margin: 0 auto;
}
  
.share-offer {
  display: block;
  max-width: 800px;
  width: 100%;
  grid-template-columns: 1fr;
  background-color: #D1CDB9;
  border-radius: 10px;
  margin: 0 auto;
  border: 1px solid grey;
  margin-bottom: 100px;
  padding: 30px;
}

.form{
  margin: 0 auto;
}

.share-offer input {
  border-radius: 10px;
  margin: 0 auto;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 10px;
  border: none;
  font-size: 14px;
  margin-top: 20px;
}

.share-offer textarea {
  border-radius: 10px;
  min-height: 100px;
  min-width: 100%;
  max-width: 100%;
  width: 100%;
  font-size: 14px;
  margin-top: 10px;
  border: none;
}

.share-offer .btn {
  border-radius: 10px;
}

.job-offer {
  position: flex;
  background-color: #D1CDB9;
  border-radius: 10px;
  width: 50%;
  height: 16%;
  margin-left: 25%;
  padding: 30px 10px 10px 10px;
  margin-top: 5%;
  margin-bottom: 3000px;
}

.job-offer .message {
  background-color: white;
  border-radius: 10px;
  width: 70%;
  height: 80%;
  margin-left: 15%;
  border-top: 1px;
}

.job-offer p {
  font-size: 150%;
  text-align: center;
  margin-top: 0%;
}

.job-offer .delete {
  margin-left: 3%;
  margin-top: 2%;
}

.job-offer .check {
  position: relative;
  margin-left: 110%;
  transform: scale(3);
  vertical-align: middle;
}