#main-container{
  overflow: auto;
  margin: 0 auto;
  position: flex;
  overflow: hidden;
}

h1 {
  margin-left: 50px;
  margin-top: 50px;
  font-weight: bold;
  font-size: 60;
  font-family: gabriola;
}

.share-offer {
  position: flex;
  width: 800px;
  grid-template-columns: 1fr;
  background-color: white;
  border-radius: 10px;
  margin: 0 auto;
  border: 1px solid grey;
  margin-bottom: 100px;
  padding: 30px;
  overflow: hidden;
}

.form{
  margin: 0 auto;
}

.share-offer .checkbox{
  padding-top: 20px;
}

.share-offer .checkbox li{
  padding-bottom: 10px;
}

.share-offer li{
  list-style-type : none;
  font-weight: bold;
  margin-top: 20px;
}

.share-offer .inputText {
  border-radius: 10px;
  margin: 0 auto;
  width: 700px;
  padding-top: 5px;
  padding-bottom: 10px;
  border: none;
  font-size: 14px;
  margin-top: 10px;
  border: 2px solid black;
}

.share-offer textarea {
  border-radius: 10px;
  min-height: 100px;
  min-width: 100%;
  max-width: 600px;
  width: 600px;
  font-size: 14px;
  margin-top: 10px;
  border: 2px solid black;
}

.share-offer .btn { 
  margin-left: 35%;
  margin-top: 20px;
  color: white;
  width: 30%;
  border-radius: 10px;
  text-align: center;
}
