@page "/inscription"

<div id="tableauLogIn">

    <div id="tab2">
        <input class="input" id="searchInput" type="text" placeholder="ðŸ‘¤ Email or UserName" />
        <input class="input" id="searchInput" type="text" placeholder="ðŸ” Password" />
        <button type="submit" id="logIn">Login</button>
    </div>
    <div id="create"> Don't have an account ?</div>
    <a href="/inscription" id="buttonInsc">Create Here </a>


</div>